@model GamesMS.ViewModels.BoardGameCreateUpdateViewModel
@{
    //Layout.Append()
}

<div class="text-center">
    @using (Html.BeginForm("Update", "BoardGames", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(model => model.Name, "Name")
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            @Html.LabelFor(model => model.MinPlayerAge, "Minimum players age")
            @Html.TextBoxFor(model => model.MinPlayerAge)
            @Html.ValidationMessageFor(model => model.MinPlayerAge)
        </div>

        <div>
            @Html.LabelFor(model => model.MaxPlayersNumber, "Maximum players number")
            @Html.TextBoxFor(model => model.MaxPlayersNumber)
            @Html.ValidationMessageFor(model => model.MaxPlayersNumber)
        </div>

        <div>
            @Html.LabelFor(model => model.MinPlayersNumber, "Minimum players number")
            @Html.TextBoxFor(model => model.MinPlayersNumber)
            @Html.ValidationMessageFor(model => model.MinPlayersNumber)
        </div>
        <button type="submit">Save</button>
    }
</div>