@model GamesMS.ViewModels.BoardGameDetailsViewModel
@{
    //Layout.Append()
}

<div class="text-center">
    <div>
        @Html.LabelFor(model => model.Name, "Name")
        <p id="Name">@Model.Name</p>
    </div>

    <div>
        @Html.LabelFor(model => model.MinPlayerAge, "Minimum players age")
        <p id="Name">@Model.Name</p>
    </div>

    <div>
        @Html.LabelFor(model => model.MaxPlayersNumber, "Maximum players number")
        <p id="Name">@Model.Name</p>
    </div>

    <div>
        @Html.LabelFor(model => model.MinPlayersNumber, "Minimum players number")
        <p id="Name">@Model.Name</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Viewed date</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in @Model.Statistics)
            {
                <tr>
                    <td>@item.ViewedDate</td>
                    <td>@item.Source</td>
                </tr>
            }
        </tbody>
    </table>
</div>