@model GamesMS.ViewModels.GamesIndexViewModel

@{
    <style>
        .actions a {
            margin-left: 1%;
            margin-right: 1%;
            min-width: 75px;
        }
    </style>

    var id = 0;
}
<div style="float:left">
    <p style="font-weight:700">Page @Model.PageNumber</p>
</div>
<div style="float: right">
    <a asp-action="Create" class="btn btn-light">Add new game</a>
</div>

<div class="text-center">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th style="width: 20%">
                    Id
                </th>
                <th style="width: 40%">
                    Name
                </th>
                <th style="width: 40%">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.GameModels)
            {
                <tr>
                    <td style="width: 20%">
                        @(id = id + 1)
                    </td>
                    <td style="width: 50%">
                        @game.Name
                    </td>
                    <td style="width: 30%" class="actions">
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@game.Id">Edit</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@game.Id">Details</a>
                        <a class="btn btn-secondary" onclick="deleteGame(@game.Id)" href="">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div style="float: left">
    <a 
       style="min-width: 75px"
       asp-action="Index"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-light">
        Previous
    </a>
    <a 
       style="min-width: 75px"
       asp-action="Index"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-light">
        Next
    </a>
</div>
<div style="float: right;">
    @Html.DropDownListFor(model => model.PageSize, new SelectList(new[] { 10, 25, 50 }), new { onchange = "changePageSize(this.value)", @class="btn btn-light" })
</div>

<footer>
    <script type="text/javascript">
        function changePageSize(value) {
            window.location.href = "/BoardGames/Index?pageSize=" + value;
        }

        function deleteGame(value) {
            event.preventDefault();

            var answer = confirm("Are you sure to perform this action?");
            if (answer) {
                $.post("/BoardGames/Delete", { id: value })
                    .done(function (data) {
                        window.location.reload(true);
                    });;
            }
        }
    </script>
</footer>
