@model GamesMS.ViewModels.GamesIndexViewModel

<div>
    <a asp-action="Create">Add new game</a>
</div>

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.GameModels)
            {
                <tr>
                    <td>
                        @game.Name
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@game.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@game.Id">Details</a>
                        <a onclick="deleteGame(@game.Id)" href="">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageNumber - 1)"
   asp-route-pageSize="@Model.PageSize"
   class="btn btn-default">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageNumber + 1)"
   asp-route-pageSize="@Model.PageSize"
   class="btn btn-default">
    Next
</a>

@Html.DropDownListFor(model => model.PageSize, new SelectList(new[] { 10, 25, 50 }), new { onchange = "changePageSize(this.value)" })

<footer>
    <script type="text/javascript">
        function changePageSize(value) {
            window.location.href = "/BoardGames/Index?pageSize=" + value;
        }

        function deleteGame(value) {
            event.preventDefault();

            var answer = confirm("Are you sure to perform this action?");
            if (answer) {
                $.post("/BoardGames/Delete", { id: value })
                    .done(function (data) {
                        window.location.reload(true);
                    });;
            }
        }
    </script>
</footer>
